{% extends "home/base.html" %}

{% block contentBlock %}
    <div id="main-wrap">

        <!--  Page Content  -->
        <div id="page-content" class="header-static">

            <!--  Page Header  -->
            <div id="page-header" class="secondary-background">
                <div class="container">
                    <div class="row no-margin">
                        <div class="text">
                            <h1 class="white">企业介绍</h1>
                            <ul class="breadcrumb white">
                                <li><a href="{{ url_for('home.about') }}">江苏皓之睿数字科技有限公司</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--  END Page Header  -->

            <div id="home-wrap" class="content-section fullpage-wrap">
                <div class="container">

                    <!-- Section Image -->
                    <div class="row no-margin padding-lg">
                        <div class="col-md-6 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <h2 class="margin-bottom-null left">关于公司</h2>
                                <div class="padding-onlytop-sm">
                                    <p class="margin-bottom margin-md-bottom-null">江苏皓之睿数字科技有限公司<br>成立于2013年12月，是一家以互联网为平台工具，以大数据为核心，集服务平台、虚拟现实、移动终端和金融平台为一体并对接传统服装产业的新兴“+互联网”公司。
                                        大数据技术为驱动，以消费者体验为核心，将线上、线下的人、货、场三要元素重构，形成“商品通、会员通、支付通”的全新商业形态。快速的打通线上线下，提高品牌曝光率；联合物联网解决库存问题；提升零售终端的导购能力。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/about.jpg" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                    <!-- END Section Image -->

                </div>

                <!-- Services Section -->
                <div class="light-background">
                    <div class="container">
                        <div class="row no-margin padding-lg">
                            <div class="col-md-4 padding-leftright-null">
                                <div class="text padding-topbottom-null padding-md-bottom">
                                    <i class="material-icons color service"><img src="../../static/home/img/l1.png"></i>
                                    <h3 class="margin-bottom-extrasmall">23年</h3>
                                    <p class="margin-bottom-null">拥有近23年的传统服装行业经验</p>
                                </div>
                            </div>
                            <div class="col-md-4 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <i class="material-icons color service"><img src="../../static/home/img/l2.png"></i>
                                    <h3 class="margin-bottom-extrasmall">11年</h3>
                                    <p class="margin-bottom-null">拥有11年的互联网运营经验</p>
                                </div>
                            </div>
                            <div class="col-md-4 padding-leftright-null">
                                <div class="text padding-topbottom-null padding-md-bottom">
                                    <i class="material-icons color service"><img src="../../static/home/img/l3.png"></i>
                                    <h3 class="margin-bottom-extrasmall">10年</h3>
                                    <p class="margin-bottom-null">拥有10年的服装行业数字科技研究积累</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Services Section -->

                <!--  Team section  -->
                <div class="container">
                    <div class="row no-margin padding-lg">
                        <div class="col-md-12 padding-leftright-null">
                            <div class="text text-center padding-topbottom-null">
                                <h3 class="big">团队介绍</h3>
                            </div>
                        </div>

                        <!--  Team  -->
                        <div class="row team padding-onlytop-md">
                            <div class="col-xs-6 col-md-4 padding-leftright-null">
                                <div class="person">
                                    <img src="../../static/home/img/m1.png" alt="" class="img-responsive">
                                    <h3>郭毅可</h3>
                                    <span>联合创始人<br>皓之睿数字科技股东、首席科技顾问，英国帝国理工 大学大数据应用研究院 院长。英国皇家工程院 院士。</span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4 padding-leftright-null">
                                <div class="person">
                                    <img src="../../static/home/img/m2.png" alt="" class="img-responsive">
                                    <h3>周海峰</h3>
                                    <span>董事长<br>江南大学服装设计学士，工商 管理博士在读。23年服装产业 经验，11年互联网运营经验， 10年服装行业数字科技研究 积累，你那经服饰行业学会 秘书长。</span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4 padding-leftright-null">
                                <div class="person">
                                    <img src="../../static/home/img/m3.png" alt="" class="img-responsive">
                                    <h3>刘洪辞</h3>
                                    <span>董事/顾问<br>北京大学法学系学士，南京大学经济管理学硕士，武汉经济管理学博士，教授级 高级经济师。</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  END Team section  -->

                <div id="home-wrap" class="content-section fullpage-wrap">
                    <div class="container"></div>
                    <div class="light-background">
                        <div class="container">

                            <!-- Service -->
                            <div class="row no-margin padding-lg">
                                <div class="col-md-4 padding-leftright-null">
                                    <div class="text padding-topbottom-null newstitle">
                                        <h2 class="margin-bottom-null left">张 杰</h2>
                                    </div>
                                </div>
                                <div class="col-md-8 padding-leftright-null">
                                    <div class="text padding-topbottom-null">
                                        <h3>执行总裁</h3>
                                        <p class="margin-bottom-null">
                                            上海交通大学视觉传达专业学士，中国建筑装饰协会高级室内建筑师。多年外企设计经验，
                                            曾水晶石数字科技首席创意总监，上海世博会江苏馆、南京博物院数字馆、南京2014年青奥会数字图像服务等项目总负责。
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- END Service -->

                        </div>
                    </div>
                    <div class="container">
                        <!-- Service -->
                        <div class="row no-margin padding-lg">
                            <div class="col-md-4 padding-leftright-null">
                                <div class="text padding-topbottom-null newstitle">
                                    <h2 class="margin-bottom-null left">孙 祥</h2>
                                </div>
                            </div>
                            <div class="col-md-8 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <h3>执行总裁</h3>
                                    <p class="margin-bottom-null">
                                        苏州大学商学院工商管理学士，20年职业经理人经验。曾任职云海运营总监、苏州半岛集团
                                        总经理；创业中果连锁、润祥商贸、茶文化会所、文峰连锁和上海朗涯互联网科技CEO。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- END Service -->
                    </div>
                    <div class="light-background">
                        <div class="container">
                            <!-- Service -->
                            <div class="row no-margin padding-lg">
                                <div class="col-md-4 padding-leftright-null">
                                    <div class="text padding-topbottom-null newstitle">
                                        <h2 class="margin-bottom-null left">董嘉峻</h2>
                                    </div>
                                </div>
                                <div class="col-md-8 padding-leftright-null">
                                    <div class="text padding-topbottom-null">
                                        <h3>产品总监</h3>
                                        <p class="margin-bottom-null">
                                            江南大学服装设计学士，曾任职于杉杉集团、如意集团、意大利LUBIAM服装公司等，从设计师到品牌管理，拥有20多年的时尚产业经验。
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- END Service -->
                        </div>
                    </div>
                    <div class="container">
                        <!-- Service -->
                        <div class="row no-margin padding-lg">
                            <div class="col-md-4 padding-leftright-null">
                                <div class="text padding-topbottom-null newstitle">
                                    <h2 class="margin-bottom-null left">赵 伟</h2>
                                </div>
                            </div>
                            <div class="col-md-8 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <h3>技术总监</h3>
                                    <p class="margin-bottom-null">
                                        服装专业院校学士。曾任职于海澜集团、澳洋集团、长期关注于人体工程学与服装版型工艺 技术领域，负责人体三维于服装版型结构的数字化运算。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- END Service -->
                    </div>
                    <div id="page-header" style="margin-top: 0; background-color: #40B8FF;">
                        <div class="container">
                            <div class="row no-margin">
                                <div class="text">
                                    <div class="container">
                                        <!-- Section Image -->
                                        <div class="row no-margin padding-onlytop-lg">
                                            <div class="col-md-6 padding-leftright-null">
                                                <div data-responsive="child-height" data-responsive-id="about"
                                                     class="section-image height-auto-sm">
                                                    <picture class="section right">
                                                        <img src="../../static/home/img/g1.png" class="img-responsive"
                                                             alt="">
                                                    </picture>
                                                </div>
                                            </div>
                                            <div class="col-md-6 padding-leftright-null">
                                                <div data-responsive="parent-height" data-responsive-id="about"
                                                     class="text">
                                                    <h2 class="margin-bottom-null left white">企业荣誉</h2>
                                                    <div class="padding-onlytop-sm">
                                                        <p class="margin-bottom white">公司拥有多项项目自主创新研发的专利技术和产品，并拥有多项知识产权。
                                                            国家认证 “AAA级企业信用等级证书” “ISO9001质量管理体制认证证书” 荣誉称号 “中国自主创新企业”
                                                            “中国科技创新优秀企业” “江苏省民营科技企业” “江苏省高新科技技术企业” 领导荣誉
                                                            “诚信企业家”、“诚信经理人”</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- END Section Image -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section Partners -->
                    <div class="container">
                        <h2 style="text-align: center;margin: 40px 0px;">企业资质</h2>
                        <img src="../../static/home/img/zizhi.png" style="width: 100%;">
                    </div>
                    <!-- END Section Partners -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}