{% extends "home/base.html" %}

{% block contentBlock %}
    <div id="main-wrap">
        <!--  Page Content  -->
        <div id="page-content" class="header-static">
            <!--  Page Header  -->
            <div id="page-header" class="secondary-backgroundlbc">
                <div class="container">
                    <div class="row no-margin">
                        <div class="text">
                            <h1 class="lbcHeader">鲁班尺智能系统</h1>
                            <h3 class="lbcHeader">数字3D服装定制软件</h3>
                            <ul class="breadcrumb ">
                                <li class="lbcHeader">通过在线3D远程智能量体技术，生成精准的人体<br> 净尺寸数据，通过自己拍正面、侧面的<br> 脸部照片迅速生成自己的3D人模。
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--  END Page Header  -->
            <div id="home-wrap" class="content-section fullpage-wrap">
                <div class="container">
                    <!-- Section Image -->
                    <div class="row no-margin padding-lg">
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/t14.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="col-md-6 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <h2 class="margin-bottom-null left">鲁班尺智能系统</h2>
                                <div class="padding-onlytop-sm">
                                    <p class="margin-bottom margin-md-bottom-null">鲁班尺智能系统是通过在线3D远程智能量体技术，
                                        生成精准的人体净尺寸数据，通过自己拍正面、
                                        侧面的脸部照片迅速生成自己的3D人模。 <br>客户进入鲁班尺系统后可自主选择定制的服装款式、 面料、色彩、领型、门襟、袖口、胸巾和开叉等
                                        十多个子模块和各项工艺细节，各种搭配细节选取
                                        适合自己的服装。然后再试穿到自己的3D模型上， 体验3D试穿，感受各个角度以及细节的效果，最后 智能下单，生产、物流配送和售后服务。</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="light-background">
                    <div class="container">
                        <div class="row no-margin padding-lg">
                            <div class="col-md-4 padding-leftright-null">
                                <div class="text padding-topbottom-null padding-md-bottom">
                                    <i class="material-icons color service"><img
                                            src="../../static/home/img/t16.png"></i>
                                    <h3 class="margin-bottom-extrasmall">3D模型</h3>
                                    <p class="margin-bottom-null">拥有自己专属的3D虚拟 人模模型，高清的3D服装产品匹配人模 在线实时虚拟试装</p>
                                </div>
                            </div>
                            <div class="col-md-4 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <i class="material-icons color service"><img
                                            src="../../static/home/img/t17.png"></i>
                                    <h3 class="margin-bottom-extrasmall">专属定制</h3>
                                    <p class="margin-bottom-null">B+平台客户免费定制自己专属的 在线服装，提供高端定制，以数据分析 结果为导向实现更精彩的产品和服务</p>
                                </div>
                            </div>
                            <div class="col-md-4 padding-leftright-null">
                                <div class="text padding-topbottom-null padding-md-bottom">
                                    <i class="material-icons color service"><img
                                            src="../../static/home/img/t18.png"></i>
                                    <h3 class="margin-bottom-extrasmall">智能分享</h3>
                                    <p class="margin-bottom-null">实现全时段销售，销售员只要分享 二维码就能迅速传播3D商城的购物体验 并实现二级以内的销售提成累</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <!-- Section Image -->
                    <div class="row no-margin padding-lg">
                        <div class="col-md-6 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <h2 class="margin-bottom-null left">智能量体</h2>
                                <div class="padding-onlytop-sm">
                                    <p class="margin-bottom margin-md-bottom-null">
                                        简单输入身高体重，系统就能推算出ta的身体尺寸，并建立专属3D虚拟替身<br><br>
                                        自拍，系统就能自动生成脸部，完成用户专属的3D虚拟替身<br><br> 买衣服不用考虑尺码松紧问题，系统自动匹配<br><br>
                                        在手机和pad上给自己3D虚拟实时换装，分享给朋友和家人<br><br>
                                        会收到其他相关联的产品推荐</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/tu16.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="light-background row no-margin padding-lg">
                    <div class="container">
                        <!-- Section Image -->
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/tu17.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="col-md-6 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <h2 class="margin-bottom-null left">精准还原</h2>
                                    <div class="padding-onlytop-sm">
                                        <p class="margin-bottom margin-md-bottom-null">
                                            拥有自己专属的3D虚拟人模模型<br> 专属定制后可实现精准度还原衣服每一处细节<br><br>
                                            Webapp技术支撑的B+平台商城只要一次开发，就可以在网站、自媒体、微信等众多平台和实体店、临展等多场景使用<br><br>
                                            支撑服装品牌企业的第三次消费升级
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Services -->
                <div class="container padding-lg">
                    <div class="row no-margin">
                        <div class="col-md-12 padding-leftright-null text-center">
                            <h2 class="margin-bottom-small left">七大核心技术支持</h2>
                        </div>
                        <div class="row no-margin">
                            <div class="col-md-6 padding-leftright-null">
                                <div class="text padding-md-bottom-null">
                                    <i class="material-icons color service left"><img
                                            src="../../static/home/img/tu3.png"></i>
                                    <div class="service-content large">
                                        <h3 class="margin-bottom-extrasmall">远程智能量体</h3>
                                        <p class="margin-bottom-null">基本信息录入、体型、体姿、穿着习惯<br> 肤色，智能生成人体数据</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 padding-leftright-null">
                                <div class="text padding-md-bottom-null">
                                    <i class="material-icons color service left"><img
                                            src="../../static/home/img/tu7.png"></i>
                                    <div class="service-content large">
                                        <h3 class="margin-bottom-extrasmall">智能尺码匹配</h3>
                                        <p class="margin-bottom-null">服装产品功能分类、松量间隙量、适配、套码 <br>舒适度测试</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="col-md-6 padding-leftright-null">
                                <div class="text padding-md-bottom-null">
                                    <i class="material-icons color service left"><img
                                            src="../../static/home/img/tu4.png"></i>
                                    <div class="service-content large">
                                        <h3 class="margin-bottom-extrasmall">智能推荐搭配</h3>
                                        <p class="margin-bottom-null">人衣搭配、衣衣搭配、场景搭配</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 padding-leftright-null">
                                <div class="text padding-md-bottom-null">
                                    <i class="material-icons color service left"><img
                                            src="../../static/home/img/tu8.png"></i>
                                    <div class="service-content large">
                                        <h3 class="margin-bottom-extrasmall">智能高端定制</h3>
                                        <p class="margin-bottom-null">个人高定团服高定</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="col-md-6 padding-leftright-null">
                                <div class="text padding-md-bottom-null">
                                    <i class="material-icons color service left"><img
                                            src="../../static/home/img/tu5.png"></i>
                                    <div class="service-content large">
                                        <h3 class="margin-bottom-extrasmall">VR虚拟现实展示</h3>
                                        <p class="margin-bottom-null">服装、配饰、店铺环境</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 padding-leftright-null">
                                <div class="text padding-md-bottom-null">
                                    <i class="material-icons color service left"><img
                                            src="../../static/home/img/tu9.png"></i>
                                    <div class="service-content large">
                                        <h3 class="margin-bottom-extrasmall">360°产品展示系统</h3>
                                        <p class="margin-bottom-null">服装、配饰、店铺环境</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="col-md-6 padding-leftright-null">
                                <div class="text padding-md-bottom-null">
                                    <i class="material-icons color service left"><img
                                            src="../../static/home/img/tu6.png"></i>
                                    <div class="service-content large">
                                        <h3 class="margin-bottom-extrasmall">分销裂变传播系统</h3>
                                        <p class="margin-bottom-null">销售记录、上下游溯源、区块链</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Services -->
                </div>
                <div class="light-background row no-margin padding-lg">
                    <div class="container">
                        <div class="row no-margin padding-lg">
                            <div class="col-md-12 padding-leftright-null">
                                <div class="text text-center padding-topbottom-null">
                                    <h3 class="big gray">我们的风采</h3>
                                </div>
                            </div>
                            <!--  Team  -->
                            <div class="row team padding-onlytop-md">
                                <div class="col-xs-6 col-md-4 padding-leftright-null">
                                    <div class="person">
                                        <img src="../../static/home/img/tu11.png" alt="" class="img-responsive">
                                        <h3 class="juzhong">蒲公英智能展厅</h3>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-4 padding-leftright-null">
                                    <div class="person">
                                        <img src="../../static/home/img/tu12.png" alt="" class="img-responsive">
                                        <h3 class="juzhong">智能数据采集系统</h3>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-4 padding-leftright-null">
                                    <div class="person">
                                        <img src="../../static/home/img/tu13.png" alt="" class="img-responsive">
                                        <h3 class="juzhong">公司园区</h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}