{% extends "home/base.html" %}

{% block contentBlock %}
    <div id="main-wrap">
        <!--  Page Content  -->
        <div id="page-content" class="header-static">
            <!--  Page Header  -->
            <div id="page-header" class="secondary-background1">
                <div class="container">
                    <div class="row no-margin">
                        <div class="text">
                            <h1 class="white">meme米姆云店</h1>
                            <ul class="breadcrumb white">
                                <li>一站式服装门店新零售升级解决方案系统</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--  END Page Header  -->
            <div id="home-wrap" class="content-section fullpage-wrap">
                <div class="container">
                    <!-- Section Image -->
                    <div class="row no-margin padding-lg">
                        <div class="col-md-6 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <h2 class="margin-bottom-null left">城市合伙人·全国火爆招募中</h2>
                                <div class="padding-onlytop-sm">
                                    <p class="margin-bottom margin-md-bottom-null">巨大蓝海市场 / 15天快回报 / 线上持续收益<br>您可以不用开一家服装门店，但您是本地区的最大服装店主！
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/hehuoren%20.png" class="img-responsive shadow"
                                         alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="light-background row no-margin padding-lg">
                    <div class="container">
                        <!-- Section Image -->
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/tongdian.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="col-md-6 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <h2 class="margin-bottom-null left">服装门店的痛点</h2>
                                    <div class="padding-onlytop-sm">
                                        <p class="margin-bottom margin-md-bottom-null">线下开店成本越来越大<br>1: 房租<br>2: 店员3: 库存<br><br>
                                            线上运营成本增大
                                            <br>1: 设计<br>2: 拍照<br>3: 运营<br>4: 推广
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <!-- Section Image -->
                    <div class="row no-margin padding-lg">
                        <div class="col-md-6 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <div class="padding-onlytop-sm">
                                    <p class="margin-bottom margin-md-bottom-null">传统服装门店销售渠道想拓展？库存想快速消化？</p>
                                </div>
                                <h2 class="margin-bottom-null left">新零售一站式解决方案<br>meme米姆云店</h2>
                                <div class="padding-onlytop-sm">
                                    <p class="margin-bottom margin-md-bottom-null">集小程序 + APP + 微商城 + ERP管理软件于一体， <br>彻底解决传统服装行业痛点，更方便商家营销推广及顾客体验。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/xdsw.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="light-background row no-margin padding-lg">
                    <div class="container">
                        <!-- Section Image -->
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/xxx3.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="col-md-6 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <h2 class="margin-bottom-null left">强大新零售技术 传统服装门店升级的保障</h2>
                                    <h3 style="margin-top: 10px;">一站式商家管家服务，消费者购物共赢生态圈</h3>
                                    <div class="padding-onlytop-sm">
                                        <p class="margin-bottom margin-md-bottom-null">
                                            1： 定制微商城<br>2： 二级分销系统<br>3： 交叉推荐功能<br>4： 产品360°展示<br>5： 3D试衣系统<br>6： 无边界媒介直推
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <!-- Section Image -->
                    <div class="row no-margin padding-lg">

                        <div class="col-md-6 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <h2 class="margin-bottom-null left">四大收入来源 高额利润收益</h2>
                                <div class="padding-onlytop-sm">
                                    <p class="margin-bottom margin-md-bottom-null">软件销售收入 / 总部补贴收入 / 广告收入 / 新零售提成收入</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/shouyi%20.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="light-background row no-margin padding-lg">
                    <div class="container">
                        <!-- Section Image -->
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/xxx2.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="col-md-6 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <h2 class="margin-bottom-null left">十大支持系统</h2>
                                    <div class="padding-onlytop-sm">
                                        <p class="margin-bottom margin-md-bottom-null">
                                            服装门店数据 运营团队 产品培训 物料设计 市场推广 技术团队 客户服务 会议营销 产品升级 皓之睿商学院
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}