{% extends "home/base.html" %}

{% block contentBlock %}
    <div id="main-wrap">
        <!--  Page Content  -->
        <div id="page-content" class="header-static">
            <!--  Page Header  -->
            <div id="page-header" class="secondary-backgroundpgy">
                <div class="container">
                    <div class="row no-margin">
                        <div class="text">
                            <h1 class="violet">蒲公英智能系统</h1>
                            <h3 class="gray"> 数字3D服装销售软件</h3>
                            <ul class="breadcrumb ">
                                <li class="gray">用数字3D技术为服装企业量身打造自己的销售平台。</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--  END Page Header  -->
            <div id="home-wrap" class="content-section fullpage-wrap">
                <div class="container">
                    <!-- Section Image -->
                    <div class="row no-margin padding-lg">
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/zhinengxitong.png" class="img-responsive shadow"
                                         alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="col-md-6 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <h2 class="margin-bottom-null left">蒲公英智能系统</h2>
                                <div class="padding-onlytop-sm">
                                    <p class="margin-bottom margin-md-bottom-null">蒲公英智能系统是用数字3D技术为服装企
                                        业量身打造自己的销售平台，为消费者解决
                                        得体、合体的痛点，分销、交叉推荐系统为 企业解决销售和库存的痛点。
                                        <br>系统包含了智能远程量体、智能推荐搭配、智能销售、3D试衣等七大核心技术，且随时结合线上平台，微信公众号、小程序、二维码、微商城、智能纽扣等
                                        植入任何端口。建立属于自己的个性分销系统，快 速裂变传播辐射全国。从而大大拓展销售渠道，增 加门店的客单量、提高连单率、复购率，减少库存， 有效的管理会员 。
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Services -->
                <div class="light-background">
                    <div class="container padding-lg">
                        <div class="row no-margin">
                            <div class="col-md-12 padding-leftright-null text-center">
                                <h2 class="margin-bottom-small left">七大核心技术支持</h2>
                            </div>
                            <div class="row no-margin">
                                <div class="col-md-6 padding-leftright-null">
                                    <div class="text padding-md-bottom-null">
                                        <i class="material-icons color service left"><img
                                                src="../../static/home/img/tu3.png"></i>
                                        <div class="service-content large">
                                            <h3 class="margin-bottom-extrasmall">远程智能量体</h3>
                                            <p class="margin-bottom-null">基本信息录入、体型、体姿、穿着习惯<br> 肤色，智能生成人体数据</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 padding-leftright-null">
                                    <div class="text padding-md-bottom-null">
                                        <i class="material-icons color service left"><img
                                                src="../../static/home/img/tu7.png"></i>
                                        <div class="service-content large">
                                            <h3 class="margin-bottom-extrasmall">智能尺码匹配</h3>
                                            <p class="margin-bottom-null">服装产品功能分类、松量间隙量、适配、套码 <br>舒适度测试</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-margin">
                                <div class="col-md-6 padding-leftright-null">
                                    <div class="text padding-md-bottom-null">
                                        <i class="material-icons color service left"><img
                                                src="../../static/home/img/tu4.png"></i>
                                        <div class="service-content large">
                                            <h3 class="margin-bottom-extrasmall">智能推荐搭配</h3>
                                            <p class="margin-bottom-null">人衣搭配、衣衣搭配、场景搭配</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 padding-leftright-null">
                                    <div class="text padding-md-bottom-null">
                                        <i class="material-icons color service left"><img
                                                src="../../static/home/img/tu8.png"></i>
                                        <div class="service-content large">
                                            <h3 class="margin-bottom-extrasmall">智能高端定制</h3>
                                            <p class="margin-bottom-null">个人高定团服高定</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-margin">
                                <div class="col-md-6 padding-leftright-null">
                                    <div class="text padding-md-bottom-null">
                                        <i class="material-icons color service left"><img
                                                src="../../static/home/img/tu5.png"></i>
                                        <div class="service-content large">
                                            <h3 class="margin-bottom-extrasmall">VR虚拟现实展示</h3>
                                            <p class="margin-bottom-null">服装、配饰、店铺环境</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 padding-leftright-null">
                                    <div class="text padding-md-bottom-null">
                                        <i class="material-icons color service left"><img
                                                src="../../static/home/img/tu9.png"></i>
                                        <div class="service-content large">
                                            <h3 class="margin-bottom-extrasmall">360°产品展示系统</h3>
                                            <p class="margin-bottom-null">服装、配饰、店铺环境</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-margin">
                                <div class="col-md-6 padding-leftright-null">
                                    <div class="text padding-md-bottom-null">
                                        <i class="material-icons color service left"><img
                                                src="../../static/home/img/tu6.png"></i>
                                        <div class="service-content large">
                                            <h3 class="margin-bottom-extrasmall">分销裂变传播系统</h3>
                                            <p class="margin-bottom-null">销售记录、上下游溯源、区块链</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Services -->
                    </div>
                </div>
                <div class="container">
                    <!-- Section Image -->
                    <div class="row no-margin padding-lg">
                        <div class="col-md-6 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <h2 class="margin-bottom-null left">我们聚焦的行业痛点</h2>
                                <div class="padding-onlytop-sm">
                                    <p class="margin-bottom margin-md-bottom-null">例一：<br>缺乏用户熟悉的实体店体验方式（卖家秀/买家秀）尺码不合适——合体，款式不满意——得体
                                        <br>例二：<br>服装行业固有的高库存没能得到解决，产品实际成本*10以上的倍数=吊牌价，产品开发库存——3倍起，产品号型库存——3倍起，补单滞销风险——3倍以上，渠道成本——售价的30%以上
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/hangyetongdian.png" class="img-responsive shadow"
                                         alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="light-background row no-margin padding-lg">
                    <div class="container">
                        <!-- Section Image -->
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/xxx3.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="col-md-6 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <h2 class="margin-bottom-null left">强大新零售技术 传统服装门店升级的保障</h2>
                                    <h3 style="margin-top: 10px;">一站式商家管家服务，消费者购物共赢生态圈</h3>
                                    <div class="padding-onlytop-sm">
                                        <p class="margin-bottom margin-md-bottom-null">
                                            1： 定制微商城<br>2： 二级分销系统<br>3： 交叉推荐功能<br>4： 产品360°展示<br>5： 3D试衣系统<br>6： 无边界媒介直推
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row no-margin padding-lg">
                        <div class="col-md-12 padding-leftright-null">
                            <div class="text text-center padding-topbottom-null">
                                <h3 class="big gray">我们的风采</h3>
                            </div>
                        </div>
                        <!--  Team  -->
                        <div class="row team padding-onlytop-md">
                            <div class="col-xs-6 col-md-4 padding-leftright-null">
                                <div class="person">
                                    <img src="../../static/home/img/tu11.png" alt="" class="img-responsive">
                                    <h3 class="juzhong">蒲公英智能展厅</h3>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4 padding-leftright-null">
                                <div class="person">
                                    <img src="../../static/home/img/tu12.png" alt="" class="img-responsive">
                                    <h3 class="juzhong">智能数据采集系统</h3>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4 padding-leftright-null">
                                <div class="person">
                                    <img src="../../static/home/img/tu13.png" alt="" class="img-responsive">
                                    <h3 class="juzhong">公司园区</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}