{% extends "home/base.html" %}

{% block contentBlock %}
    <div id="main-wrap">
        <!--  Page Content  -->
        <div id="page-content" class="header-static">
            <!--  Page Header  -->
            <div id="page-header" class="secondary-background">
                <div class="container">
                    <div class="row no-margin">
                        <div class="text">
                            <h1 class="white">联系反馈</h1>
                            <ul class="breadcrumb white">
                                <li><a href="{{ url_for('home.index') }}">返回首页</a></li>
                                <li><a href="#" onclick="javascript:history.back(-1);">返回上一页</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--  END Page Header  -->
            <div id="home-wrap" class="content-section fullpage-wrap">
                <div class="container">
                    <!-- Service -->
                    <div class="row no-margin padding-lg">
                        <div class="col-md-4 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <h2 class="margin-bottom-null left">网页设计</h2>
                            </div>
                        </div>
                        <div class="col-md-8 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <h3>质量、高效</h3>
                                <p class="margin-bottom-null">
                                    真正优秀的用户界面会被无视，而糟糕的设计则迫使用户注意界面的，而非内容。
                                    我们的设计贴合公司现状，用户体验也会得到满足，结合当前热门的界面板式，
                                    增加用户体验度，质量高，效率高。
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- END Service -->
                </div>
                <div class="light-background">
                    <div class="container">
                        <!-- Service -->
                        <div class="row no-margin padding-lg">
                            <div class="col-md-4 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <h2 class="margin-bottom-null left">网页开发</h2>
                                </div>
                            </div>
                            <div class="col-md-8 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <h3>质量、高效</h3>
                                    <p class="margin-bottom-null">
                                        真正优秀的用户界面会被无视，而糟糕的设计则迫使用户注意界面的，而非内容。
                                        我们的设计贴合公司现状，用户体验也会得到满足，结合当前热门的界面板式，
                                        增加用户体验度，质量高，效率高。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- END Service -->
                    </div>
                </div>
                <div class="container">
                    <!-- Service -->
                    <div class="row no-margin padding-lg">
                        <div class="col-md-4 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <h2 class="margin-bottom-null left">logo设计</h2>
                            </div>
                        </div>
                        <div class="col-md-8 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <h3>质量、高效</h3>
                                <p class="margin-bottom-null">
                                    真正优秀的用户界面会被无视，而糟糕的设计则迫使用户注意界面的，而非内容。
                                    我们的设计贴合公司现状，用户体验也会得到满足，结合当前热门的界面板式，
                                    增加用户体验度，质量高，效率高。
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- END Service -->
                </div>
                <div class="light-background">
                    <div class="container">
                        <!-- Service -->
                        <div class="row no-margin padding-lg">
                            <div class="col-md-4 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <h2 class="margin-bottom-null left">网络营销</h2>
                                </div>
                            </div>
                            <div class="col-md-8 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <h3>质量、高效</h3>
                                    <p class="margin-bottom-null">
                                        真正优秀的用户界面会被无视，而糟糕的设计则迫使用户注意界面的，而非内容。
                                        我们的设计贴合公司现状，用户体验也会得到满足，结合当前热门的界面板式，
                                        增加用户体验度，质量高，效率高。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- END Service -->
                    </div>
                </div>
                <!-- Section Partners -->
                <div class="container">
                    <div class="row no-margin">
                        <div class="col-md-12 padding-leftright-null">
                            <div class="partners">
                                <div class="col-xs-6 col-sm-4 col-md-2 text padding-leftright-null">
                                    <h3>客户合作</h3>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 partner">
                                    <img class="img-responsive" src="../../static/home/img/logo-square-2-dark.png"
                                         alt="">
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 partner">
                                    <img class="img-responsive" src="../../static/home/img/logo-square-3-dark.png"
                                         alt="">
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 partner">
                                    <img class="img-responsive" src="../../static/home/img/logo-square-4-dark.png"
                                         alt="">
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 partner">
                                    <img class="img-responsive" src="../../static/home/img/logo-square-5-dark.png"
                                         alt="">
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 partner">
                                    <img class="img-responsive" src="../../static/home/img/logo-square-6-dark.png"
                                         alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Section Partners -->
            </div>
        </div>
        <!--  END Page Content -->
    </div>
{% endblock %}