{% extends "home/base.html" %}

{% block contentBlock %}
    <div id="main-wrap">
        <!--  Page Content  -->
        <div id="page-content" class="header-static">
            <!--  Page Header  -->
            <div id="page-header" class="secondary-backgroundsulun">
                <div class="container">
                    <div class="row no-margin">
                        <div class="text">
                            <h1 class="white">苏伦研究院</h1>
                            <ul class="breadcrumb ">
                                <li class="white">苏伦大数据专注为民生、服装、医疗、金融、智造、政务等领域 <br>提供完整的大数据解决方案和大数据人才培养服务</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--  END Page Header  -->
            <div id="home-wrap" class="content-section fullpage-wrap">
                <div class="light-background">
                    <div class="container">
                        <div class="row no-margin padding-lg">
                            <div class="col-md-4 padding-leftright-null">
                                <div class="text padding-topbottom-null padding-md-bottom">
                                    <i class="material-icons color service"><img
                                            src="../../static/home/img/jiejuefangan.png"></i>
                                    <p class="margin-bottom-null">解决方案</p>
                                </div>
                            </div>
                            <div class="col-md-4 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <i class="material-icons color service"><img
                                            src="../../static/home/img/rencaieiyang.png"></i>
                                    <!-- <h3 class="margin-bottom-extrasmall">专属定制</h3> -->
                                    <p class="margin-bottom-null">人才培养</p>
                                </div>
                            </div>
                            <div class="col-md-4 padding-leftright-null">
                                <div class="text padding-topbottom-null padding-md-bottom">
                                    <i class="material-icons color service"><img
                                            src="../../static/home/img/shengtaixitong.png"></i>
                                    <!-- <h3 class="margin-bottom-extrasmall">智能分享</h3> -->
                                    <p class="margin-bottom-null">生态系统</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <!-- Section Image -->
                    <div class="row no-margin padding-lg">
                        <div class="col-md-6 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <h2 class="margin-bottom-null left">中国第一所O2O人工智能研修学院</h2>
                                <h4>China's First O2O AI Advanced Tranining Academy
                                    <br>
                                    为国家培育人工智能时代的核心人才
                                </h4>
                                <div class="padding-onlytop-sm">
                                    <p class="margin-bottom margin-md-bottom-null">
                                    <h3 class="blue">AI人才培养</h3>
                                    苏伦名师堂·苏伦学堂
                                    <br>
                                    <br>
                                    结合国内外高校优质资源，打造O2O人工智能精英人才培育平台和大数据知识服务平台，推动国内外大数据人才的培育发展

                                    <h3 class="blue">AI知识服务</h3>
                                    <br>
                                    苏伦智学系统
                                    <br>
                                    <br>

                                    线上只会求职系统“苏伦智学”系统，服务全国的人工智能精英培育平台和大数据知识服务平台

                                    <h3 class="blue">AI人才发展导航</h3>
                                    <br>
                                    AI人才发展智能导航引擎·AI核心人才链
                                    <br>
                                    <br>

                                    提供AI人才规划，运用区块链技术打造明课链、名师链和名家链融合的高价值AI资源体系，建立专家与精选学员的零距离连接
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/sulunx2.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="light-background row no-margin padding-lg">
                    <div class="container">
                        <!-- Section Image -->
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/sulunx3.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="col-md-6 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <h2 class="margin-bottom-null left">苏伦学术委员会 苏伦企业家智库</h2>
                                    <div class="padding-onlytop-sm">
                                        <p class="margin-bottom margin-md-bottom-null">
                                            全球首个开放型数据科学家联盟，覆盖数据科学、大数据挖掘、数据可视化、云计算、人工智能、医疗、智能制造、金融、教育、智慧城市等多个领域。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <!-- Section Image -->
                    <div class="row no-margin padding-lg">

                        <div class="col-md-6 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <h2 class="margin-bottom-null left">打造全球首个O2O 大数据科技生态系统</h2>

                                <div class="padding-onlytop-sm">
                                    <p class="margin-bottom">全球商业智能解决方案领导者，推动国内外大数据人才的培育发展</p>
                                    <p class=" margin-md-bottom-null">
                                        <span>30所 +</span> 国际知名专家
                                    </p>
                                    <p class=" margin-md-bottom-null">
                                        <span>11所 +</span> 国内外知名院校
                                    </p>
                                    <p class=" margin-md-bottom-null">
                                        <span>7 所 +</span> 服务多类行业领域
                                    </p>
                                    <p class=" margin-md-bottom-null">
                                        <span>1000 +</span> 培育大数据人才
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/shengtai.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="light-background row no-margin padding-lg">
                    <div class="container">
                        <div class="row no-margin">
                            <div class="col-md-12 padding-leftright-null">
                                <div class="partners">
                                    <div class="col-xs-6 col-sm-4 col-md-2 text padding-leftright-null">
                                        <h3>合作品牌方</h3>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-2 partner">
                                        <img class="img-responsive" src="../../static/home/img/sulunx1.png" alt="">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-2 partner">
                                        <img class="img-responsive" src="../../static/home/img/sulunxx2.png" alt="">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-2 partner">
                                        <img class="img-responsive" src="../../static/home/img/sulunxx3.png" alt="">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-2 partner">
                                        <img class="img-responsive" src="../../static/home/img/sulunx4.png" alt="">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-2 partner">
                                        <img class="img-responsive" src="../../static/home/img/sulunx5.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}