{% extends "home/base.html" %}

{% block contentBlock %}
    <div id="main-wrap">
        <!--  Page Content  -->
        <div id="page-content" class="header-static">
            <!--  Page Header  -->
            <div id="page-header" class="secondary-backgroundyuns1">
                <div class="container">
                    <div class="row no-margin">
                        <div class="text">
                            <h1 class="white">云饰衣平台</h1>
                            <ul class="breadcrumb white">
                                <li><a href="{{ url_for('home.index') }}">旗下品牌: 蒲公英, 鲁班尺</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--  END Page Header  -->

            <div id="home-wrap" class="content-section fullpage-wrap">
                <div class="container">
                    <!-- Section Image -->
                    <div class="row no-margin padding-lg">
                        <div class="col-md-6 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <h2 class="margin-bottom-null left">云饰衣平台</h2>
                                <div class="padding-onlytop-sm">
                                    <p class="margin-bottom margin-md-bottom-null">
                                        我们以人体大数据和服装产品大数据为核心和基础，综合了线上线下数据采集、大数据分析研究、信息图表现、虚拟现实等高新技术的C2F综合平台，利用移动终端对接传统的服装产业.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/yunshiyi%20pingtai.png"
                                         class="img-responsive shadow"
                                         alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="light-background row no-margin padding-lg">
                    <div class="container">
                        <!-- Section Image -->
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/x2.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="col-md-6 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <h2 class="margin-bottom-null left">服装人体数据化</h2>
                                    <div class="padding-onlytop-sm">
                                        <p class="margin-bottom margin-md-bottom-null">148项专利技术支撑
                                            <br>1: 获得精准的100% 人体制衣数据
                                            <br>2: 简单输入身高体重
                                            <br>3: 1.7亿华人样本解析建立专属3D模型
                                            <br>4: 个性化虚拟呈现客户专属形象
                                            <br>5: 单张正面照片2.4亿样本解析
                                            <br>6: 自动生成优化3D脸部模型
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <!-- Section Image -->
                    <div class="row no-margin padding-lg">
                        <div class="col-md-6 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <h2 class="margin-bottom-null left">服装产品数据化</h2>
                                <div class="padding-onlytop-sm">
                                    <p class="margin-bottom margin-md-bottom-null">
                                        234项专利技术支撑
                                        <br>1: 面、辅料物理属性数据化
                                        <br>2: CAD纸板数据化
                                        <br>3: 缝制工艺数据化
                                        <br>4: 显示技术数据化
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/x3.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="light-background row no-margin padding-lg">
                    <div class="container">
                        <!-- Section Image -->
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/x4.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="col-md-6 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <h2 class="margin-bottom-null left">消费行为数据化</h2>
                                    <div class="padding-onlytop-sm">
                                        <p class="margin-bottom margin-md-bottom-null">
                                            73项专利技术支撑
                                            <br>1: 多重AI智能推荐、增加连单量、复购率
                                            <br>2: 通过数据分析和消费数据的积累
                                            <br>3: 利用AI技术为每位客户提供个性化的
                                            <br>4: 产品喜好和智能推荐
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <!-- Section Image -->
                    <div class="row no-margin padding-lg">
                        <div class="col-md-6 padding-leftright-null">
                            <div class="text padding-topbottom-null">
                                <h2 class="margin-bottom-null left">丰富的产品部署方式</h2>
                                <div class="padding-onlytop-sm">
                                    <p class="margin-bottom margin-md-bottom-null">
                                        以智能手机、智能设备，实现全场景、 全时段、全流程对接服装应用场景
                                        <br>1: 线下导流（实体店） 线上对接
                                        <br>2: APP
                                        <br>3: 小程序
                                        <br>4: 二维码
                                        <br>5: 第一粒扣
                                        <br>6: 智能衣柜
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/x5.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                            0
                        </div>
                    </div>
                </div>
                <div class="light-background row no-margin padding-lg">
                    <div class="container">
                        <!-- Section Image -->
                        <div class="col-md-6 padding-leftright-null padding-md-top">
                            <div class="text padding-topbottom-null">
                                <picture>
                                    <img src="../../static/home/img/x6.png" class="img-responsive shadow" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="col-md-6 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <h2 class="margin-bottom-null left">迅速得到市场认可</h2>
                                    <div class="padding-onlytop-sm">
                                        <p class="margin-bottom margin-md-bottom-null">
                                            京东、海尔、波司登、日立、US POLO、如意集团、妩、汤米诺、徐一涵、红豆、杉杉、雅鹿、爱居兔（海澜之家旗下品牌）/平义、汇大制衣 …… <br>(排名不分前后)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}